@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor_principal: #0597F2;
}

* {
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh;
    background-image: url('../assets/image/plano-de-fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    height: 100%;
    display: flex;
    justify-content: center;
}

.container_inputs {
    background-color: #2f3133;
    padding: 20px;
    width: 80%;
    opacity: 0.6;
    border: 1px solid var(--cor_principal);
    border-radius: 10px;
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titulo {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px dashed black;
    color: #ffffff;
    margin: 0 10px 10px 10px;
}

.container_input {
    display: flex;
    flex-direction: column;
    margin: 0 10px 10px 10px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.formulario_label {
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: bolder;
}

.formulario_input {
    padding: 5px;
    border: 1px solid #0000;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
} 


@media screen and (min-width: 768px) {
    .container_inputs {
        max-width: 40%;
    }
}
