@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
    height: 100vh;

    background-image: url('../assets/image/plano-de-fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.titulo {
    text-align: center;
    font-size: 200px;
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
    cursor: context-menu;
}

.button {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border: 2px solid none;
    border-radius: 10px;
    box-shadow: 3px 8px 10px #13131369;

    font-size: 14px;
    color: #02598E;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.button:hover {
    background-color: #05c7f2c7;
    color: #fff;
    transition: 1.9s;  
}

.img_banner {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 596px) {
    .main_section {
        height: 100vh;
        justify-content: space-evenly;
    }
}
 
@media screen and (min-width: 596px) {
    .img_banner{
        width: 600px;
    }
}
